@import "_post/main";
.share-buttons {
  position: absolute;
  top: 32px;
  left: 40px;
  > .btn {
    margin-bottom: 0;
  }
}
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  &_pager {
    display: inline-block;
    padding: 0.75em;
    min-width: 5.5em;
    font-size: 0.8em;
    font-weight: 400;
    background-color: darken($white, 5%);
    color: darken($white, 35%) !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:hover {
      background-color: $green;
      color: $white !important;
    }
    &.disabled {
      background-color: darken($white, 3%);
      color:darken($white, 15%) !important;
      &:hover {
        background-color: darken($white, 3%);
        color:darken($white, 15%) !important;
      }
    }
  }
}

// code
pre {
  overflow-x: auto; // add scrollbars to wide code blocks
  padding: 1rem;
  line-height: 1.5;
  margin: 0;
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding: 0.1rem 0.2rem;
  font-size: 0.9em;
  border-radius: 2px;
  background-color: darken($white, 5%);
  font-family: $base-font;
}

.table-responsive{
  overflow-x: auto;
}
